.mainContainer {
    padding: 1em 2em;
    display: grid;
    gap: 1em;
    nav {
        display: flex;
        justify-content: space-between;
        .links ul {
            margin: 0;
            display: flex;
            gap: 1em;
            list-style: none;
        }
    }
    .taskContainer {
        .inputs {
            display: grid;
            gap: 0.5em;
            textarea {
                height: 10em;
            }
            button {
                width: 8em;
                height: 2em;
                justify-self: end;
            }
        }
    }
    .accordion {
        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            h2 {
                margin: 0;
            }
            .action {
                display: flex;
                align-items: center;
                gap: 8px;
                .dateDetail {
                    font-size: smaller;
                display: grid;
            }
        }
            }
            .content {
            p {
                text-align: start;
            }

        }
    }
}
