.mainContainer {
  background-color: rgb(181, 146, 181);
  padding: 1em 2em;
  display: grid;
  gap: 1em;
  min-height: 100vh;
  grid-template-rows: 2em 1fr;
  .popUp {
    position: fixed;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1em;
      padding: 2em 4em;
      background-color: white;
      border-radius: 0.7em;
      h3 {
        grid-column: span 2;
      }
      button {
        background-color: rgb(25, 209, 25);
        color: white;
        border: none;
        border-radius: 4px;
        padding: 6px 12px;
        cursor: pointer;
        &:active {
          scale: 0.9;
        }
        &#yes {
          background-color: rgb(241, 106, 106);
          &:hover {
            background-color: rgb(243, 71, 71);
          }
        }
        &:hover {
          background-color: rgb(4, 168, 4);
        }
      }
    }
  }
  .signin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: grid;
    place-content: center;
    .subContainer {
      width: max-content;
      height: max-content;
      background-color: white;
      border-radius: 1em;
      form {
        padding: 2em;
        display: grid;
        gap: 1em;
        align-items: center;
        input {
          padding: 4px 12px;
          border: none;
        }
      }
    }
  }
  nav {
    display: flex;
    justify-content: space-between;
    .logo {
      font-weight: 900;
    }
    .links ul {
      margin: 0;
      display: flex;
      gap: 1em;
      list-style: none;
      li {
        background-color: gray;
        padding: 6px 12px;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        &#add {
          background-color: rgb(25, 209, 25);
        }
      }
    }
  }
  .taskContainer {
    .inputs {
      display: grid;
      gap: 0.5em;
      grid-template-columns: 1fr 1fr;
      border: 1px solid gray;
      padding: 8px;
      border-radius: 8px;
      label {
        display: flex;
        gap: 8px;
        align-items: center;
      }
      input {
        background-color: rgb(198, 186, 186);
        flex: 1;
        padding: 4px;
        outline: none;
        border-radius: 0.3em;
        border: none;
      }
      textarea {
        background-color: rgb(198, 186, 186);
        border: none;
        flex: 1;
        height: 10em;
        grid-column: span 2;
      }
      button {
        justify-self: end;
        grid-column-start: 2;
        background-color: rgb(110, 110, 236);
        color: white;
        border-radius: 8px;
        border: none;
        outline: none;
        font-size: 1.5em;
        padding: 0.2em 1em;
      }
    }
  }
  .accordion {
    ul {
      display: grid;
      gap: 0.5em;
      li {
        cursor: pointer;
        padding: 0.2em 0.3em;
        border-radius: 8px;
        &.completed {
          color: gray;
        }
        &:hover {
          background-color: rgb(210, 174, 210);
        }
      }
    }
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2 {
        margin: 0;
      }
      .action {
        display: flex;
        align-items: center;
        gap: 8px;
        .dateDetail {
          font-size: smaller;
          display: grid;
        }
        .actionIcon {
          position: relative;
          &::after {
            position: absolute;
            color: white;
            background-color: gray;
            left: 0;
            top: 0;
          }
        }
      }
    }
    .content {
      p {
        text-align: start;
      }
    }
  }
}
